
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.judul{
  padding: 20px;
  position: relative;
  text-align: center;
}

.judul h1{
  font-size: 20px;
  font-weight: bold;
}

.judul:before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ddd;
  bottom: 0;
  left: 0;
}

.isi{
  margin: 5px 20px;
}

.isi p{
  font-size: 14px;
  text-align: center;
}

.isi textarea{
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  height: 199px;
  resize: none;
  font-size: 14px;
}

.isi button{
  border: 1px solid gray;
  background-color: #ddd;
  padding: 5px 10px;
}
